main{
	position:absolute;
	top:130px;	
	height:90vh;
	margin:2.85712vh 1.2492vw;
	width:96.5016vw;
	display:flex;
	.left-side{
		@extend .side-bars;
		height:650px;
		div{
			height:100%;
			&:first-child{
				height:360px;
				margin-bottom:20px;
				ul{
					
					list-style-type:none;
					height:100%;
					display: flex;
					flex-direction: column;
					margin-left:-14%;
					li{
						height:15%;
						background-color: rgb( 57, 66, 100 );
						line-height:4;
						a{
							display:flex;
						}
						@include child-image-include(1,'mail_Icon.png','PaperPlane.png','Calendar.png','Settings_icon.png','Graph.png');
						span{
							margin:0 20px;
							width:25px;
							&:nth-child(2){
								flex-grow:2;
							} 	
							&:not(:only-child){
								&:last-child{
									display:inline-block;
									border:2px solid transparent;
									background-color:rgb(80,89,123);
									height: 20px;
									width: 25px;
									text-align: center;
									line-height:20px;
									border-radius:50%;
									margin:auto 15px;;

								}
							}
						}
						&:hover{
							background-color:rgb(80,80,123);
							span:not(:only-child){
								&:first-child{
									filter: brightness(2);
								}
								&:last-child{
									display:inline-block;
									border:2px solid transparent;
									background-color:rgb(230,76,101);

								}
								
							}
						}
						&:first-child{
							font-family:UbuntuMedium;
							display:block;
							text-align:center;
							background-color: rgb( 17, 168, 171 );
							justify-content:center;
							@include border-top(4%);

						}
						&:nth-child(n+3){
							margin-top:2px;
						}
						&:nth-child(n+5){
							margin-top:2px;
							span:last-child{
								display:none;
							}
							&:hover{
								span:last-child{
									display:none;
								}
							}
						}
					}
				}
			}

		}
		.bottom{

			header{
				font-family:UbuntuMedium;
				text-align: center;
				height:60px;
				line-height:60px;
				background-color:rgb(252,177,80);
				@include border-top(5%);
			}
			.wrapper{
				height:200px;
				background-color:rgb(57,66,100);
				display:flex;
				flex-direction:column;
				justify-content:space-around;
				div{
					height:20%;
					width:100%;
					text-align:center;
					display:flex;
					flex-direction:row;
					justify-content:space-around;
					margin-top:-1%;
				}
				.upper{
					vertical-align:super;
				}
				.download{
					&>span:first-child{
						@include background-image('download.png');
						background-position:left top !important;
						width:10%;
					}
				}
				.upload{
					&>span:empty:first-child{
						@include background-image('upload.png');
						background-position:left top !important;
						width:10%;
					}
				}
				progress{
					margin-top:20px;
					&[value]{
						appearance: none;
						width:250px;
						height:20px;
						margin:auto 20px;
						color: rgb( 17, 168, 171 );

						&::-webkit-progress-bar{
							background-color: rgb(80, 89, 123); 
							border-radius: 2px;
							box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;;
						}
						&::-webkit-progress-value{

							background-color: rgb( 17, 168, 171 );
						}
						&::-moz-progress-bar{

							background-color: rgb( 17, 168, 171 );

							border-radius: 2px;
							box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;;
						}

					}
					&.upload{
						&::-webkit-progress-bar{
							background-color: rgb(80, 89, 123); 
							border-radius: 2px;
							box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;;
						}
						&::-webkit-progress-value{


							background-color: rgb( 79, 197, 246 );
						}
						&::-moz-progress-bar{

							background-color: rgb( 79, 197, 246 );

							border-radius: 2px;
							box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;;
						}
					}
				}

			}
		}
	}
	.main-wrapper{
		margin:0 30px;
		width:100%;
		border:1px solid red;
	}
	.right-side{
		@extend .side-bars;
		border:1px solid red;
	}
}




