@import 'fonts';
@import 'mixins';
@import 'content';
body{
	font-family:Ubuntu;
	background-color:rgb(31,37,61);
	color:rgb(212,221,255);

	.header{
		position: absolute;
		left: 0px;
		top: 	46px;
		width: 100vw;
		height: 84px;
		z-index: 231;
		.page-title{
			.Underline {
				background-image: linear-gradient( 180deg, rgb( 31, 37, 61 ) 0%, rgb( 80, 89, 123 ) 35.376%);
				background-image: -webkit-linear-gradient( 180deg, rgb( 31, 37, 61 ) 0%, rgb( 80, 89, 123 ) 35.376%);
				position: absolute;
				left: 0px;
				top:76px;
				width: 29.6vw;
				height: 2px;
				z-index: 214;
			}

			.Profile {
				font-size: 45px;
				font-family: "Ubuntu";
				color: rgb( 212, 221, 255 );
				line-height: 0.375;
				text-align: left;
				position: absolute;
				left: 48px;
				top: 0;
				width: 8.65vw;
				height: 37px;
				z-index: 209;
			}


		}
		.Base {
			border-radius: 4px;
			background-color: rgb( 57, 66, 100 );
			position: absolute;
			left: 41.4vw;
			top: -10px;
			width: 58.6vw;
			height: 80px;
			z-index: 213;
			.menu{
				display:flex;
				width:10vw;
				position:absolute;
				right:0;
				font-size:18px;
				line-height:4.3;
				height:100%;
				flex-wrap:nowrap;
				.arrow-down{
					@include background-image('../../img/Arrow.png');
					display:inline-block;
					width:1vw;
					height:10px;
					cursor:pointer;
					margin-left:10px;	
				}
				.profile-image{
					@include background-image('../../img/profile_image.png');
					background-size:cover;
					border:2px solid grey;
					border-radius:50%;
					margin-top:13%;
					width:40px;
					height:40px;
					margin-left:10px;
					box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
				}


				.dropdown-content {
					display: none;
					position: absolute;
					background-color: #f9f9f9;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					padding: 12px 16px;
					z-index: 1000;
					height:0px;
					transition:all 2s ease;
					&.display{
						display:block;
						height:600px;

					}	
				}

			}
			ul{
				width:35.3vw;
				color: rgb( 255, 255, 255 );
				font-size:18px;
				line-height:1;
				text-align:left;
				height:100%;
				position:absolute;
				top:-17px;
				display:-webkit-flex;
				display:-ms-flexbox;
				display:flex;
				list-style-type:none;

				li{
					position:relative;
					left:-2vw;
					display:inline-block;
					height:98%;
					width:25%;
					min-width:130px;
					display:-webkit-flex;
					display:-ms-flexbox;
					display:flex;
					-webkit-justify-content:space-between;
					-ms-flex-pack:justify;
					justify-content:space-between;
					&:hover{
						background-color:#50597b;
						border-bottom:2px solid #11a8ab;
					}
					span{
						display:block;
						height:100%;

					}
					span:first-child{
						width:30%;
						
					}
					span:last-child{
						width:65%;
						line-height:4.5;
					}
					@include child-image-include(0,'Settings_icon.png','user_icon.png','mail_Icon.png','star_icon.png');
				}

			}
		}


	}
}
.indicator{ 
	background-image: url("../../img/indicator.png") !important;
	position: absolute;
	top: -10px;
	background-position: center !important;
	left: 11px;
	text-align: center;
	width: 3vw !important;
}

a{
	text-decoration:none;
	color:white;
}
