@mixin background-image($name){
	background-image:url('../../img/'+$name);
	background-repeat:no-repeat;
	background-position:center center;

}
@mixin border-top($radius){
	 border-top-right-radius:$radius;
				    border-top-left-radius:$radius;
}
@mixin child-image-include($start,$name...){
	$names:$name;
	$length:length($name)+1;
	@for $i from 1 to $length{
		@if ($i+$start>=$length){
			$item:$i
		}
		@else
		{
			 $item:$i+$start;
		}
		&:nth-child(#{$i+$start}) span:first-child{
			@include background-image(nth($names,$i));
		}
	}
}
.side-bars{
	width:40vw;
	height:765px;
	display:flex;
	flex-direction:column;
	div{
		width:100%;
	}
}
